## Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [42]:
s = "pw2skills"
print(s)

pw2skills

In [43]:
l = ["this","is","my","first","pwskills","week","1"]
print(l)

['this', 'is', 'my', 'first', 'pwskills', 'week', '1']

In [44]:
f = "2.0"
print(f)

2.0

In [45]:
t = ("Hello","world")
print(t)

('Hello', 'world')

## Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

### Answer

i. String

ii. String

iii. List

iv. Float

## Q3. Explain the use of the following operators using an example:
(i) /

(ii) %

(iii) //

(iv) **

### Answers

i. Division Operator

ii. Modulo Operator

iii. Floor Division Operator

iv. Power Operator

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [46]:
l = [1,2.0,"mani","mani krishna", "a", 3+4j,[1,"2"],(1,"2"),"fjdf" , True]

In [47]:
for i in l:
    print(i)

1
2.0
mani
mani krishna
a
(3+4j)
[1, '2']
(1, '2')
fjdf
True

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [48]:
a, b = 25, 5
i = 0
while(True):
    if a == i * b :
        break
    else:
        i= i+ 1
print(i)

5

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [41]:
import random
l = [random.randint(0, 999) for _ in range(25)]
a = [i for i in l if i%3 == 0]
print(a)

[0, 783, 336, 84, 198, 549, 447, 393, 762, 192]

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.